/*  
  .btn2{
    box-shadow: none;
    position: relative;
    z-index: 0;
    background-position: 98% 0;
    font-size: 16px;
    font-weight: 600;
    transition: all 500ms;
    position: relative;
  }
  .btn2::before{
    background: linear-gradient(11deg, #c83852, #b44092 50%, #6a5fc1);
    border-radius: .5rem;
    content: "";
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 0.125rem;
    position: absolute;
    transition: opacity .2s;
    z-index: -1;
  }
  .btn2:hover{
    background: linear-gradient(120deg, #c83852, #b44092 25%, #6a5fc1 50%, #452650 55%, #452650);
    background-size: 250% 100%;
    transition: background-position .2s, outline-width .2s;
    transition: all 500ms;
    outline-offset: 0rem;
    z-index: 0;
    }
    .btn2:hover::before {
      padding: 0; 
      opacity: 0; 
    }
    .btn1 {
      line-height: 1.1rem;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      background-color: #fff; 
      background-position: 98% 0;
      transition: all 0.5s; 
      position: relative; 
  }
  
  .btn1:hover {
    background-image: linear-gradient(120deg, #21E786, #21E786 50%, #21E786 ,transparent 55%, transparent);
    color: white;    
    background-size: 250% 100%;
    background-position: 0 0; 
    transition: background-position 0.5s; 
      border-color: transparent; 
  }

 */


  /*  */


  .secClose {
    background-size: 200% 100%; 
    background-position: right bottom;
    transition: background-position 0.4s, background-color 0.4s;
    position: relative;
    top: 0;
  }
  .secClose:hover {
    background-image: linear-gradient(120deg,  #1E1F26  ,#1C7466 25%, #21E786   50%, transparent 55%, transparent);
    background-position: 0 0; 
    color: #fff;
    transition:  background-position 0.4s; 
    border-color: transparent; 
  }
  .hover2{
    position: relative;
    border-radius:10px;

  }
.layer {
  position: relative;
  padding:  2rem 0;
  clip-path: polygon(0 90%, 0 10%, 100% 0, 100% 100%);
  
  
}

.bg{
  background-image: linear-gradient( to bottom , #E7F9EF 50%,#E7F9EF  50%);
}
.hover2::before {
  background: #26FE8C;
  border-radius:10px;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  top: -2px;
  left:-2px;
  background-size: 400%;
  padding: 0.325rem;
  position: absolute;
  transition: opacity .2s;
  filter: blur(5px);
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

@media (min-width: 2560px) {
  .hover2::before {
    background: #26FE8C;
    border-radius:10px;
    content: "";
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    top: -2px;
    left:-2px;
    background-size: 400%;
    padding: 0.525rem;
    position: absolute;
    transition: opacity .2s;
    filter: blur(5px);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    opacity: 1;
    transition: opacity .3s ease-in-out;
    }
}
