.layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blurBackground {
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .89) 30%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
/* backdrop-filter: blur(.5px); تأثير البلور */
}
.btn1 {
  line-height: 1.1rem;
  text-align: center;
  font-weight: 600;
  background-color: #56F09F; 
  box-shadow: 0 8px 20px 0 #56f09ec4;    
  background-size: 250% 100%;
  background-position: 100% 0; 
  transition: background-position 0.5s ease, color 0.5s ease, border-color 0.5s ease; 
  background-image: linear-gradient(120deg, #21E786, #21E786 50%, #21E786 ,transparent 55%, transparent);
  position: relative;
}
.btn1:hover {
  background-position: 0 0; 
}
.btn2{
  line-height: 1.1rem;
  text-align: center;
  font-weight: 600;
  color: #000; 
  background-size: 250% 100%;
  background-position: 100% 0; 
  transition: background-position 0.5s ease, color 0.5s ease, border-color 0.5s ease; 
  background-image: linear-gradient(120deg,  #1E1F26  ,#1C7466 25%, #21E786   50%, transparent 55%, transparent);
  position: relative;
}
.btn2::before{
  background: linear-gradient(11deg, #21E786, #21E786 50%, #21E786);
  border-radius: 0.5rem;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 0.125rem;
  position: absolute;
  transition: opacity 0.2s, inset 0.2s, padding 0.2s; 
}
.btn2:hover{
background-size: 250% 100%;
background-position: 0 0; 
transition: background-position .2s, outline-width .2s;
color: #fff;
transition: all 500ms;
outline-offset: 0rem;
border-radius: 8px;
position: relative;
z-index: 0;
}
.btn2:hover::before {
padding: 0; 
opacity: 0; 
}

.slider {
  height: auto;
  position: relative;

  width: 100%;
  overflow: hidden; 
}

.slider .slideTrack {

  display: flex;
  width: calc(100% * 5); 
  -webkit-animation: scroll 500s linear infinite;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  --scroll-direction: -50%;

  animation: scroll 500s linear infinite; 
}
@media (min-width: 1024px) and (max-width: 1480px) {
 
  
  .slider .slideTrack {

    display: flex;
    width: calc(100% * 8); 
    -webkit-animation: scroll 500s linear infinite;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    animation: scroll 500s linear infinite; 
    --scroll-direction: -50%;
    
  }
}
.slide {
 
  z-index: 5;
}


[dir="rtl"] .slideTrack{
  --scroll-direction: 50%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scroll-direction));
  }
}


   
  .bgGradaint{
    background:#1E1F26 ;
  }
  
